h1 {
  text-align: center;
}

.bigContainer, .signaturebox {
  border-style: double;
}

.title {
  border-style: double;
}

.signaturebox, .scoregridleft, .biggrid, .scoregridright {
  display: flex;
  justify-content: space-evenly;
}


.date, .scorer, .attest {
  font-size: 20px;
}

.scoregridmiddle {
  font-size: 9px;
  font-family: Impact;
  
}


